.menubar {
  width: 100%;
}

.menubar div {
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align: center;
  align-items: center;
  height: 50px;
  padding: 20px;
}

.logo {
  display: block;
  width: 180px;
  height: 16px;
  background-image: url(../images/wikimedium_logo.svg);
  background-repeat: no-repeat;
}
