.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  margin-top: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}
.mainSection section figure {
  margin-top: 58px;
  height: 4px;
  width: 30px;
  background-color: #66FFCC;
}

.mainSection section {
  position:absolute;
  width: 580px;
  top: 192px;
}

.mainSection.left section {
  right: 191px;
  left: 159px;
}
.mainSection.right section {
  right: 61px;
  color: white;
}

.mainSection.center {
  text-align: center;
    color: white;
  background-color: #999999;
}


.mainSection.center p {
  margin-top: 27px;

}

.mainSection.center section {
  width: 100%;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 161px;
  width: 530px;
  height: 660px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  top: 193px;
  left: 160px;
  width: 139px;
  height: 317px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup3 {
  top: auto;
  left: 173px;
  width: 139px;
  height: 396px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup4 {
  top: auto;
  left: 172px;
  width: 140px;
  height: 475px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup5 {
  top: 342px;
  right: 41px;
  height: 404px;
  width: 760px;
  background-image: url(../images/screens.png);
}

#mockup4 {

}
