* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.landing.bg  {
  background-image: url(../images/mockups/1440.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #FAFAFA;
}

body.landing * {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.compact {
  display: none;
}

.landingWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  width: 1440px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

.mainSection {
  position: relative;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}

.mainSection h2 {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
}

.mainSection p {
  margin-top: 25px;
  font-family: 'PT Sans', sans-serif;
  font-size: 21px;
  line-height: 36px;
}
.mainSection section figure {
  margin-top: 58px;
  height: 4px;
  width: 30px;
  background-color: #77FFE1;
}

.mainSection section {
  position:absolute;
  width: 580px;
  top: 192px;
}

.mainSection.left section {
  left: 159px;
}
.mainSection.right,
.mainSection.center {
  color: white;
  background-color: #879696;
}

.mainSection.right section {
  right: 61px;
}


.mainSection.center {
  text-align: center;
}


.mainSection.center p {
  margin-top: 25px;

}

.mainSection.center section {
  width: 100%;
}

.mainSection.center section nav {
  margin: 58px 0;
}

.mainSection.center section nav a {
  display: block;
  color: white;
  padding: 17px;
  margin: 0px auto;
}

.mainSection.center footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-bottom: 31px;
}

.mainSection.center footer p {
  font-size: 16px;
}

.mainSection.right div {
  margin-top: 193px;
}

.mainSection.right div figure {
  width: 140px;
}

.mockup {
  position: absolute;
  background-size: cover;
}

#mockup1 {
  top: 233px;
  right: 161px;
  width: 530px;
  height: 660px;
  background-image: url(../images/about.png);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.1);
}

#mockup2 {
  left: 160px;
  height: 317px;
  background-image: url(../images/about.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup3 {
  left: 333px;
  height: 396px;
  background-image: url(../images/works.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup4 {
  left: 505px;
  height: 475px;
  background-image: url(../images/work.png);
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1);

}

#mockup5 {
  top: 342px;
  right: 41px;
  height: 404px;
  width: 760px;
  background-image: url(../images/screens.png);
}

@media screen and (max-width: 1440px) {
  .landingWrapper {
    width: 100%;
  }
}

@media screen and (max-width: 1179px) {
  body.landing.bg  {
  background-image: url(../images/mockups/_1180.png);
  }

  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 1179px;
    height: 568px;
  }

  .mainSection section {
    width: 410px;
    top: 136px;
  }

  .mainSection section figure {
    margin-top: 43px;
    height: 3px;
    width: 22px;
  }

  .mainSection h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .mainSection p {
    margin-top: 16px;
    font-size: 16px;
    line-height: 26px;
  }
  .mainSection.left section {
    left: 191px;
  }

  .mainSection.right section {
    right: 124px;
  }

  .mainSection.center p {
    margin-top: 17px;
  }

  .mainSection.center section nav {
    margin: 40px 0;
  }

  .mainSection.center section nav a {
    padding: 14px;
  }

  .mainSection.center footer {
    padding-bottom: 25px;
  }

  .mainSection.center footer p {
    font-size: 13px;
  }

  .mainSection.right div {
    margin-top: 138px;
  }

  .mainSection.right div figure {
    width: 100px;
  }

  #mockup1 {
    top: 166px;
    right: 192px;
    width: 376px;
    height: 560px;
  }

  #mockup2 {
    left: 191px;
    height: 227px;
  }

  #mockup3 {
    left: 315px;
    height: 283px;
  }

  #mockup4 {
    left: 438px;
    height: 338px;

  }

  #mockup5 {
    top: 243px;
    right: 105px;
    height: 287px;
    width: 542px;
  }
}

@media screen and (max-width: 839px) {
  body.landing.bg  {
    background-image: url(../images/mockups/_840.png);
  }
  .full {
    display: none;
  }

  .compact {
    display: block;
  }

  .mainSection {
    width: 839px;
    height: 1024px;
  }
  .mainSection section {
    width: 390px;
    top: 136px;
  }

  .mainSection.left section {
    left: 149px;
  }
  .mainSection.right section {
    right: 103px;
  }

  .mainSection.center section {
    top: 186px;
  }

  .mainSection.center section nav {
    margin: 90px 0;
  }

  .mainSection section figure {
    margin-top: 43px;
    height: 3px;
    width: 22px;
  }

  .mainSection.right div {
    margin-top: 456px;
  }

  .mainSection.right div figure {
    width: 140px;
  }

  #mockup1 {
    right: 149px;
    width: 542px;
    height: 597px;
    top: 482px;
  }

  #mockup2 {
    left: 174px;
    height: 317px;
  }

  #mockup3 {
    left: 347px;
    height: 396px;
  }

  #mockup4 {
    left: 520px;
    height: 474px;
  }

  #mockup5 {
    top: 507px;
    right: -21px;
    height: 401px;
    width: 701px;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  #mockup1 { background-image: url(../images/about@2x.png); }
  #mockup3 { background-image: url(../images/works@2x.jpg); }
  #mockup4 { background-image: url(../images/work@2x.jpg); }
  #mockup5 { background-image: url(../images/screens@2x.png); }
}
