.menubar {
  width: 100%;
}

.menubar div {
  display: flex;
  justify-content: center;
  height: 62px;
  padding: 20px;
}

.logo {
  display: block;
  width: 85px;
  height: 25px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}
